
@using VistasParciales.Models
@model List<Coche>

<style>
    th {
        text-align: center;
    }
</style>

<h3>Lista de coches</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Motor</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Coche car in Model)
        {
            <tr>
                <td>@car.Marca</td>
                <td>@car.Modelo</td>
                <td>@car.Motor</td>
                <td>@car.Precio €</td>
            </tr>
        }
    </tbody>
</table>